.nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav li {
    padding: 10px 15px;
    border: 2px solid transparent;
    cursor: pointer;
}

.nav li:first-child {
    font-weight: bold;
    color: darkblue;
}


.nav li:hover {
    color: red;
}

.nav .active {
    background-color: lightyellow;
    border: 2px solid orange;
}

.nav > li {
    border-bottom: 1px solid #ccc;
}

[class="active"] {
    font-style: italic;
}
